<html>
  <head>
    <title>Tweet Recommender</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.syphon/0.4.1/backbone.syphon.min.js"></script>
    <script src="http://cdn.craig.is/js/mousetrap/mousetrap.min.js?9d308"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="http://bootstrap.ourjs.com/js/jquery.bootstrap.min.js"></script>
    

    <script type="text/template" id ="tweet-template">
        <div class="tweet" data-id="<%= tweet_id %>">
          <div class="tweet-header">
            <span class="tweet-author"><%= user.screen_name %></span>
            <span class="tweet-date"><%= created_at %></span>
          </div>
          <p class="tweet-body"><%= text %></p>
        </div>
    </script>
    
    <script type="text/template" id ="article-template">	 	 
        <div class="article_buttons">       
         	<a href="#article" class="article_toggle">Hide Article</a> 
          |     	      
  		    <a href="<%= url %>" class="article_link" target="_blank">Read in New Tab</a>  
        </div>    	      
      	<div id = "article_text" class="article_text">	
			    <%= article %>
	  	  </div>
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
        <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">TweetRecommender</a>
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="instruction">
          <h5>Thanks for taking part in the manual evaluation of our tool 'tweetRecommender'.</h5>

          <p>In the following we will show recent news articles on various topics.
          For each article our tool recommends a number of tweets.<br />
          Your task is to decide whether a tweet is relevant for the given news article.<br />
          You may use the following list as indicators for a relevant tweet:
          <ul>
            <li>adds information</li>
            <li>fits to topic</li>
            <li>confirms article (with another source/without repeating the headline)</li>
            <li>interesting opinion</li>
            <li>filled with argument(s)</li>
          </ul>
        </div>

        <div>
          <div class="article"></div>
        </div>
        <div class="legend">
          <div class="center">
            <h4>Not Relevant</h4>
            <img src="static/img/computer_key_Arrow_Left.png" width="100px" height="100px"/>
          </div>
        </div>
        <div class="evaluation">
          <h3>Please rate the relevance of the tweets with respect to the given news article</h3>
        </div>
        <div class="legend">
          <div class="center">
            <h4>Relevant</h4>
            <img src="static/img/computer_key_Arrow_Right.png" width="100px" height="100px"/>
          </div>
        </div>
        <div class="clear"></div>
      </div>


      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Masterproject summer term 2014 at <a href="https://hpi.de" target="_blank">HPI Potsdam</a> "Finding relevant tweets for news". Find us <a href="https://github.com/twerkmeister/tweetRecommender" target="_blank">@github</a>.
          <a class="impressum-link" href="/impressum">Impressum</a> </p>
      </div>
    </div>
  <script type="text/javascript" src="static/js/evaluation.js"></script>
  </body>
</html>
