/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.search {
  width: 50%;
  margin: 0 auto;
}


#searchbar {
  width: 90%;
  height: 30px;
  margin: 0px auto 20px auto;
}

.center {
  width: 50%;
  margin: 0 auto;
}

.legend {
  width: 25%;
  float: left;
}

.evaluation {
  width: 50%;
  float: left;
}

.article {
  margin-bottom: 10px;
}

.impressum {
  margin: 0 50 0 50;
}
.impressum-link{
  float: right;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.modal-body {
    max-height: 800px;
}


/* Tweet template CSS
-------------------------------------------------- */

.tweet {
  padding: 3px;
  max-height: 150px;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.tweet-odd {  

}

.tweet-even {

}

.tweet-header {
  font-size: 0.8em;
}

.tweet-author {
  font-weight: bold;
}

.tweet-date {
  font-style: italic;
}

.tweet-body {
  margin-top: 5px;
}

.highlighted {
  background: #ccc;
}

@-webkit-keyframes moveright {
    from {  -webkit-transform: translateX(0px);
            opacity: 1;    }
    to   {  -webkit-transform: translateX(250px);
            opacity: 0;  }
}

@-webkit-keyframes moveleft {
    from {  -webkit-transform: translateX(0px);
            opacity: 1;    }
    to   {  -webkit-transform: translateX(-250px);
            opacity: 0;  }
}

@-webkit-keyframes shrink {
  from { height:80px;
        opacity: 0;}
  to {height: 0px;
      opacity:0;}
}

@keyframes moveright {
    from {  transform: translateX(0px);
            opacity: 1;    }
    to   {  transform: translateX(250px);
            opacity: 0;  }
}

@keyframes moveleft {
    from {  transform: translateX(0px);
            opacity: 1;    }
    to   {  transform: translateX(-250px);
            opacity: 0;  }
}

@keyframes shrink {
  from { height:80px;
        opacity: 0;}
  to {height: 0px;
      opacity:0;}
}

.moveright {
    -webkit-animation: 
      moveright 0.3s 1,
      shrink 0.3s 0.3s 1;
    animation: 
      moveright 0.3s 1,
      shrink 0.3s 0.3s 1;
}

.moveleft {
    -webkit-animation: 
      moveleft 0.3s 1,
      shrink 0.3s 0.3s 1;
    animation: 
      moveleft 0.3s 1,
      shrink 0.3s 0.3s 1;
}

/* result.html css 
---------------------------------------------------- */
#main {     
    margin: 0 auto;
}
#left_side    {
    width: 50%;       
    float: left;
}

#right_side  {
    width: 50%;        
    float: left;
}

.table_space tr{
	padding:4px;	
}


/* show article css 
---------------------------------------------------- */

.article_text{
	width: 100%; 
	max-height: 300px;
	overflow: auto; 
	margin-top:10px;	
}

.article{
	margin-top:30px;
	margin-bottom:30px;
  border: 1px solid gray;
  padding: 15px;
}

.article_buttons {
  text-align: right
}

.article_text img {
  visibility: hidden;
  display: none;
}

.article_text p {
  padding: 0px;
  margin: 0 0 4px;
}

.article_text blockquote p {
  font-size: 12px;
}

.instruction_list h6 {
  margin-bottom: 0;
}

.instruction_list ul {
  list-style-type: none;
}

.instruction_list ul li:before {
  content: "...";
  margin-right: 6px;
}