<html>
  <head>
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>Tweet Recommender</title>
    {% endif %}
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
        <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">TweetRecommender</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        {% block content %}{% endblock %}
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Masterproject summer term 2014 at <a href="https://www.hpi.uni-potsdam.de/willkommen.html" target="_blank">HPI Potsdam</a> "Finding relevant tweets for news". Find us <a href="https://github.com/lesnail/tweetRecommender" target="_blank">@github</a>.</p>
      </div>
    </div>

  </body>
</html>
