<html>
  <head>
    <title>Tweet Recommender</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.syphon/0.4.1/backbone.syphon.min.js"></script>

    <script type="text/template" id="optionset-template">
      <div class="optionset">
        <form>
          <h4>gathering</h4>
          <select name="gatheringMethod">
          <% gatheringMethods.forEach(function (gatheringMethod) { %>
            <option name="gatheringMethods[<%= gatheringMethod %>]"><%= gatheringMethod %></option>
          <% }) %>
          </select>
          <h4>filtering</h4>
          <% filteringMethods.forEach(function (filteringMethod) { %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="filteringMethods[<%= filteringMethod %>]" value="<%= filteringMethod %>">
                <%= filteringMethod %>
              </label>
            </div>
          <% }) %>
          <h4>ranking</h4>
          <% rankingMethods.forEach(function (rankingMethod) { %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="rankingMethods[<%= rankingMethod %>]" value="<%= rankingMethod %>">
                <%= rankingMethod %>
              </label>
            </div>
          <% }) %>
        </form>
      </div>
    </script>

    <script type="text/template" id="resultlist-template">
      <div class="resultlist"></div>
      // methods, precision, recall, #tweets processed
    </script>

    <script type="text/template" id ="tweet-template">
      <div class="tweet">
        <div class="tweet-header">
          <span class="tweet-author"><%= user.screen_name %></span>
          <span class="tweet-date"><%= created_at %></span>
          <span class="badge badge-info"><%= parseFloat(score).toFixed(3) %></span>
        </div>
        <p class="tweet-body"><%= text %></p>
      </div>
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
        <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">TweetRecommender</a>
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="search">
          <h3>Find relevant tweets for news</h3>
          <input type="text" id="searchbar" placeholder="Insert url..." class="input-large" name="url" />
          <div class="center">
            <button type="submit" id="searchbutton" class="btn" name="action" value="search">Search</button>
            <button type="submit" id="randombutton" class="btn" name="action" value="random">Random article</button>
            <button type="submit" id="advancedbutton" class="btn" name="action" value="advanced">Options</button>
          </div>
        </div>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Masterproject summer term 2014 at <a href="https://www.hpi.uni-potsdam.de/willkommen.html" target="_blank">HPI Potsdam</a> "Finding relevant tweets for news". Find us <a href="https://github.com/lesnail/tweetRecommender" target="_blank">@github</a>.</p>
      </div>
    </div>
  <script type="text/javascript">
    $(function () {

      var tweetTemplate = _.template($("#tweet-template").html());
      var processRanking = function(data, textStatus, jqXHR) {
          console.log(data.tweets.length);
          data.tweets.forEach(function (tweetObj, i) {
            var tweet = tweetObj[1];
            tweet.score = tweetObj[0];
            
            $(".search").append(tweetTemplate(tweet));
          });
        }
      

      var OptionSetView = Backbone.View.extend({

        template : _.template($("#optionset-template").html()),

        initialize : function (options) {
          this.data = options.data;
        },

        render : function () {

          this.$el.html(this.template(this.data));

          //setting defaults
          this.$("option[name=\"gatheringMethods[terms]\"]")[0].selected = true
          this.$("input[name=\"rankingMethods[text_overlap]\"]").prop("checked", true);
          this.$("input[name=\"filteringMethods[expected_time]\"]").prop("checked", true);

          return this;
        },

        toggle : function () {
          this.$el.toggle();
        },


        foldCheckboxes : function (options, key) {
          return _.transform(
            options[key], function (result, value, key) { 
              if (value) 
                result.push(key); 
            }, []
          );
        },

        serialize : function () {
          var options = Backbone.Syphon.serialize(this);
          options.filteringMethods = this.foldCheckboxes(options, "filteringMethods");
          options.rankingMethods = this.foldCheckboxes(options, "rankingMethods");
          return options;
        },


        query : function () {

          var options = this.serialize();
          options["url"] = $("#searchbar")[0].value;
          options["action"] = "search";

          return $.ajax("query", {
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(options)
          });
        }

      });

      $.ajax("options").done(function(data) {

        var view = new OptionSetView({
          data : data
        });
        $(".search").append(view.render().el);
        $(".optionset").toggle();



        $("#searchbutton").click(function() {

          $(".tweet").remove();
          view.query().done(processRanking);

        });

        $("#randombutton").click(function() {
          $.ajax("url").done(function(data){
            $("#searchbar")[0].value=data["url"];
          });
        });


        $("#advancedbutton").click(function(){
          $(".optionset").toggle();
        });

      });

    });
  </script>
  </body>
</html>